div{
    color: chartreuse;
    font-size: 40px;
    
} 
.right{
color: blue;
font-size: 40px;
}
#t1{
color: blue
}
#t2 , .right{
     
}


.header li{
    color: blueviolet
}
.header > ul{
    border: 1px solid #ccc
}
.header > ul >li:hover{
background-color: bisque
}
ul::after{
     content: "hello"
}
